<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sail.in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <!-- <%- include('header') %> -->
    <div class="marquee">
        <div class="marquee-track">
          <span>NEW ARRIVALS • EXCLUSIVE OFFERS • LIMITED TIME DEALS • FREE SHIPPING •</span>
          <span>GET 50% OFF ON SELECT ITEMS • DON'T MISS OUT • SHOP NOW •</span>
          <span>NEW SEASON • LIMITED EDITION • FREE SHIPPING • EXCLUSIVE DEALS •</span>
          <span>SHOP OUR BESTSELLERS • HURRY, WHILE STOCKS LAST •</span>
        </div>
      </div>
    
      <!-- Large Banner Image -->
      <div class="banner">
        <img src="/images/WdkUt9x6Q3CodtE672_lpQ.webp" alt="Banner Image">
      </div>
    

      <!-- Product Section -->
      <div class="product-section">
        <div class="product-header">
          <h2 class="product-title">MEN'S SHIRTS</h2>
          <div class="nav-btns">
            <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
            <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="product-container" id="productContainer">
          <div class="product-item">
            <img src="images/pd6pic1.jpg" height="400px" width="300px" alt="Product 1">
            <div class="product-info">
              <h2>Men's Regular Fit Shirt</h2>
              <p>₹1799</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd7pic1.jpg" height="400px" width="300px" alt="Product 2">
            <div class="product-info">
              <h2>Dennis Lingo Shirt</h2>
              <p>₹999</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd8pic1.jpg" height="400px" width="300px" alt="Product 3">
            <div class="product-info">
              <h2>Regrowth Denim Shirt</h2>
              <p>₹599</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd9pic4.jpg" height="400px" width="300px" alt="Product 4">
            <div class="product-info">
              <h2>Zombom Cotton Kurta</h2>
              <p>₹450</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd10pic1.jpg" height="400px" width="300px" alt="Product 5">
            <div class="product-info">
              <h2>TAGDO Solid Shirt</h2>
              <p>₹1299</p>
            </div>
          </div>
        </div>
      </div>

<!-- Product Section -->
<div class="product-section">
  <div class="product-header">
    <h2 class="product-title">MEN'S PANTS</h2>
    <div class="nav-btns">
      <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
      <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="product-container" id="productContainer">
    <div class="product-item">
      <img src="images/pd1pic1.jpg" height="400px" width="300px" alt="Product 1">
      <div class="product-info">
        <h2>Lymio Jeans</h2>
        <p>₹2499</p>
      </div>
    </div>
    <div class="product-item">
      <img src="images/pd2pic1.jpg" height="400px" width="300px" alt="Product 2">
      <div class="product-info">
        <h2>Flexi Waist Casual Pants</h2>
        <p>₹2599</p>
      </div>
    </div>
    <div class="product-item">
      <img src="images/pd3pic1.jpg" height="400px" width="300px" alt="Product 3">
      <div class="product-info">
        <h2>Slim Fit Pants</h2>
        <p>₹3999</p>
      </div>
    </div>
    <div class="product-item">
      <img src="images/pd4pic1.jpg" height="400px" width="300px" alt="Product 4">
      <div class="product-info">
        <h2>Cargo Pants Cotton</h2>
        <p>₹3999</p>
      </div>
    </div>
    <div class="product-item">
      <img src="images/pd5pic1.jpg" height="400px" width="300px" alt="Product 5">
      <div class="product-info">
        <h2>TOPLOT Regular Pants</h2>
        <p>$30.00</p>
      </div>
    </div>
  </div>
</div>

      <div class="product-section">
        <div class="product-header">
          <h2 class="product-title">MEN'S T-SHIRTS</h2>
          <div class="nav-btns">
            <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
            <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="product-container" id="productContainer">
          <div class="product-item">
            <a href="/pdfile27.html"><img src="images/pd12img1.jpg" width="300" height="400" alt="Product 1"></a>
            <div class="product-info">
              <h2>Yesudas Men's T shirts</h2>
               <p>₹499</p>
            </div>
          </div>
          <div class="product-item">
            <a href="/pdfile26.html"><img src="images/pd11img1.jpg" width="300" height="400" alt="Product 2"></a>
            <div class="product-info">
              <h2>BULLMER Collar T-shirt</h2>
              <p>₹499</p>
            </div>
          </div>
          <div class="product-item">
            <a href="/pdfile28.html"><img src="images/pd13img1.jpg" width="300" height="400" alt="Product 3"></a>
            <div class="product-info">
              <h2>Levi's Slim Fit T-shirt</h2>
              <p>₹1299</p>
            </div>
          </div>
          <div class="product-item">
            <a href="/pdfile29.html"><img src="images/pd14img1.jpg" width="300" height="400" alt="Product 4"></a>
            <div class="product-info">
              <h2>Adidas T shirt</h2>
              <p>₹1499</p>
            </div>
          </div>
          <div class="product-item">
            <a href="/pdfile30.html"><img src="images/pd15img1.jpg" width="300" height="400" alt="Product 5"></a>
            <div class="product-info">
              <h2>Team Spirit T shirts</h2>
              <p>₹1499</p>
            </div>
          </div>
          </div>
      <!-- Modal Structure -->  
      <div class="banner">
        <img src="/images/f1epgGB4S8u5tH7Fi2uJHA.webp" alt="Banner Image">
      </div>

      <!-- Product Section -->
      <div class="product-section">
        <div class="product-header">
          <h2 class="product-title">MEN'S WATCHES</h2>
          <div class="nav-btns">
            <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
            <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="product-container" id="productContainer">
          <div class="product-item">
            <img src="images/pd11pic1.jpg" height="300px" width="300px" alt="Product 1">
            <div class="product-info">
              <h2>OLEVS Luxury Watch</h2>
              <p>₹99999</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd12pic1.jpg" height="300px" width="300px" alt="Product 2">
            <div class="product-info">
              <h2>Noise Canvas Smart Watch</h2>
              <p>₹9999</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd13pic1.jpg" height="300px" width="300px" alt="Product 3">
            <div class="product-info">
              <h2>Titan Bracelet Watch</h2>
              <p>₹599</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd14pic1.jpg" height="300px" width="300px" alt="Product 4">
            <div class="product-info">
              <h2>ROLEX Quartz Watch</h2>
              <p>₹5899</p>
            </div>
          </div>
          <div class="product-item">
            <img src="images/pd15pic1.jpg" height="300px" width="300px" alt="Product 5">
            <div class="product-info">
              <h2>OLEVS Quartz Watch</h2>
              <p>₹5899</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-header">
        <h2 class="product-title">MEN'S NIGHT PANTS</h2>
        <div class="nav-btns">
          <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
          <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="product-container" id="productContainer">
      <div class="product-item">
        <a href="/pdfile16.html"><img src="images/pd1img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Team Spirit Pants</h2>
          <p>₹799</p>
        </div>
      </div>

      <div class="product-item">
        <a href="/pdfile17.html"><img src="images/pd3img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Scott & James pants</h2>
          <p>₹699</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile18.html"><img src="images/pd4img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Urban Slim Fit Chinos</h2>
          <p>₹999</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile19.html"><img src="images/pd5img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>XYXX Cotton pants</h2>
          <p>₹499</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile20.html"><img src="images/pd6img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>BULLMER Track Pant</h2>
          <p>₹499</p>
        </div>
      </div>
    </div>

      <div class="product-header">
        <h2 class="product-title">MEN'S SHORTS</h2>
        <div class="nav-btns">
          <button class="nav-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
          <button class="nav-btn next-btn"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>

      <div class="product-container" id="productContainer">
      <div class="product-item">
        <a href="/pdfile21.html"><img src="images/pd7img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>REDX Chino Shorts</h2>
          <p>₹574</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile22.html"><img src="images/pd8img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>elite Casual Shorts</h2>
          <p>₹499</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile23.html"><img src="images/pd9img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Luxurious Linen Shorts</h2>
          <p>₹749</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile24.html"><img src="images/pd10img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Chromozome Shorts</h2>
          <p>₹499</p>
        </div>
      </div>
      <div class="product-item">
        <a href="/pdfile25.html"><img src="images/pd16img1.jpg" width="300" height="400" alt="Product 2"></a>
        <div class="product-info">
          <h2>Van Heusen Short</h2>
          <p>₹399</p>
        </div>
      </div>
      </div>
    </div>
  </div>

      <script src="main.js"></script>
    <!-- <%- include('footer') %> -->
</body>
</html>